@use "../../presets" as *;
@use "../../mixins" as *;


@mixin min {
    @media (min-width: $lg) {
        @content;
    }
}
@mixin lg-md {
    @media (max-width: ($lg - 0.1px)) and (min-width: $md) {
        @content;
    }
}
@mixin md {
    @media (max-width: ($md - 0.1px)) {
        @content;
    }
}

.header-content {
    position: relative;
    z-index: 1;
    width: 100%;

    &__container {
        @extend %container
    }
    &__title {
        text-align: center;
        margin: 0 0 53px;

        @include lg-min {
            margin: 0 0 53px;
        }
        @include lg-md {
            margin: 0 0 43px;
        }
        @include md {
            margin: 0 0 33px;
        }
      
    }
    &__actions {
        display: flex;
        justify-content: center;
        gap: $gap;

        @include sm {
            flex-direction: column;
            align-items: center;
        }
    }
}