@use "../presets" as *;
@use "../mixins" as *;

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 250px;
    padding: 0.5em 1em;
    transition: background-color 0.5s;

    font-size: 1.125rem;
    letter-spacing: 0.1em;
    &:hover,
    &:focus {
        background-color: $color-accent;
    }
}

.btn--light{
    min-width: 250px;
    background-color: rgba($color-light, 0.1);
    height: 60px;
    border: 2px solid $color-light;
}
.btn--primary{
    min-width: 350px;
    background-color: rgba($color-primary   , 0.8);
    height: 60px;
    border: 2px solid $color-primary;
}